.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.piece{
    border: 1px solid green;
    width: 15vw;
}

.piece div div{
    margin: 2px;
    border: 1px solid yellow;
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}